body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@property --color-izq {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(0, 81, 255); /* Tu color base de la izquierda */
}

@property --color-der {
    syntax: '<color>';
    inherits: false;
    initial-value: rgb(130, 4, 155); /* Tu color base de la derecha */
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    background: linear-gradient(90deg, var(--color-izq), rgb(5,5,5), var(--color-der));
    animation: pulsoGradiente 4s ease-in-out infinite alternate;
    position: relative;
}

@keyframes pulsoGradiente{
    0% {
        --color-izq: rgb(0, 6, 19);
        --color-der: rgb(19, 0, 22);
    }

    100% {
        --color-izq: rgb(0, 11, 48);
        --color-der: rgb(40, 0, 48);
    }
}

.title {
    padding: 0 10px;
    font-family: 'MiFuentePersonalizada';
    color: white;
    font-size: clamp(0.8rem, 2vmin, 1.2rem)
}

.button-section button {
    padding: 5px 15px;
    background: none;
    border: none;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: clamp(1rem, 2vmin, 1.2rem);
    border: 2px solid rgb(255, 0, 255);
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transition: background 0.3s ease-in-out, box-shadow 0.2s ease-in-out, color 0.3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.blue {
    color: rgb(0, 162, 255);
    text-shadow: 0 0 40px rgb(0, 162, 255);
}

.pink {
    color: rgb(255, 0, 255);
    text-shadow: 0 0 40px rgb(255, 0, 255);
}

.button-section button:hover {
    color: black;
    background: rgb(255, 0, 255);
    box-shadow: 0 0 40px rgb(255, 0, 255);
}

.video-container {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: black;
    border: 4px solid rgb(255, 0, 255);
    box-shadow: 0 0 20px rgb(255, 0, 255);
    padding: 5px;
    opacity: 0%;
    transform: translate(0 ,-100vh);
    backface-visibility: hidden;
    transition: transform 0.5s ease, opacity 0.5s ease-in;

}

.active {
    display: block;
    opacity: 100%;
    transform: translate(0);
}

#quit-button {
    position: absolute;
    top: -2.1%;
    right: -1%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    background-color: black;
    border-radius: 100%;
    border: 2px solid rgb(255, 0, 255); 
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: box-shadow 0.3s ease-in-out;
}

#quit-button:hover {
    box-shadow: 0 0 20px rgb(255, 0, 255);
}

.ph-x {
    color: rgb(255, 0, 255);
    font-size: clamp(1.2rem, 4vmin, 2rem)
}

#audio-btn {
    padding: 5px;
    position: fixed;
    background: none;
    border: none;
    background-color: rgb(255, 0, 255);
    border: 2px solid rgb(255, 0, 255);
    border-radius: 100%;
    box-shadow: 0 0 20px rgb(255, 0, 255);
    cursor: pointer;
    transition: background-color 0.2s ease;
    -webkit-tap-highlight-color: transparent;
    top: 84%;
    right: 5%
}

.disabled {
    display: none;
}

#audio-btn:hover {
    background-color: rgb(146, 2, 146);
}

#audio-btn i {
    font-size: 30px;
}


iframe {
    width: 100%;
    height: 100%
}

@font-face {
    font-family: 'MiFuentePersonalizada'; /* Nombre con el que la llamarás después */
    src: url('../fonts/Nulshock\ Bd.otf') format('opentype');
    font-weight: normal; /* Grosor de la fuente */
    font-style: normal;  /* Estilo (normal, italic) */
    font-display: swap;  /* Optimiza la carga para que el texto sea visible mientras descarga */
}


@media (min-width: 1366px) {
    #audio-btn {
        right: 3%;
        top: 90%
    }
}